@import url(http://fonts.googleapis.com/css?family=Belgrano);
@import url("reset.css");

body{
    
    background-color:#DED7C8;
    font-family: 'Belgrano', serif;
    color:#444444;

}

a{
    outline: none;

}
ol li{
    list-style-type:decimal;
    padding: 10px 10px 10px 10px;
    margin-left:40px;
        

}
ul{
margin-bottom: 40px;

}

li{
    margin-bottom: 20px;
    
    
}

.createData li:hover{
    color: #1c5c76;
    text-decoration: underline;
    cursor:pointer;
}
.completedData li:hover{
    cursor:pointer;


}

h1 {

    text-align:center;
    font-size: 36px;
    font-weight:bold;
    line-height:46px;

}

h3{

padding: 10px 10px 10px 10px ;
font-size: 18px;
font-weight:bold;
line-height:18px;



}



header{

    margin-bottom:46px;

}
#logo{

    background:url(../img/logo.gif) no-repeat;
   
    float: left;
	width: 76px;
	height:79px;
	margin-bottom: 28px;
	
	
}


.container{

	width:960px;
	margin: 0 auto;

}

.form-sheet{
    margin-bottom:48px;
  
}

.inputList{
    width:93%;
    display:block;
    float:left;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding: 10px 10px 10px 10px;
    margin-bottom:10px;

}

.btnAdd{

display:block;
float:right;
width: 4%;
color: #fff;
background: #444444;;
border-radius: 3px;
padding: 10px 10px 10px 10px;
font-size:15px;
font-weight: 500;
border: none;

}

.btnClear {
    

color: #fff;
background: #444444;;
border-radius: 3px;
padding: 3px 3px 3px 3px;
font-size:8px;
font-weight: bold;
border-style:none;
margin-left:50px;

    

}


section{
    background-color:#ffffff;
    box-shadow: 1px 1px 5px #888888;
    padding: 10px 10px 10px 10px ;
    border-radius:5px;

}


.check{
 
    font-size: 11px;
    line-height: 11px;
    color: #999;
    text-decoration:line-through;

}

.createData li
{
font-size: 15px;
line-height: 18px;

    
}
.trash{
    
   
   
    
    width:16px;
    height:16px;
    border:0;
    
    
    

}

