@import url(http://fonts.googleapis.com/css?family=Belgrano);
@import url("reset.css");

<<<<<<< HEAD
<<<<<<< HEAD

body

{
 
=======
body{
>>>>>>> gh-pages
=======
body{
>>>>>>> gh-pages
    
    background-color:#DED7C8;
    font-family: 'Belgrano', serif;
    color:#444444;

}

<<<<<<< HEAD
<<<<<<< HEAD
ul
{
    margin-bottom: 20px;
=======
=======
>>>>>>> gh-pages
a{
    outline: none;

}
ol li{
    list-style-type:decimal;
    padding: 10px 10px 10px 10px;
    margin-left:40px;
        

}
ul{
margin-bottom: 40px;
<<<<<<< HEAD
=======

}
>>>>>>> gh-pages

li{
    margin-bottom: 20px;
    
    
}
>>>>>>> gh-pages

<<<<<<< HEAD
li{
    margin-bottom: 20px;
    
    
}

=======
>>>>>>> gh-pages
.createData li:hover{
    color: #1c5c76;
    text-decoration: underline;
    cursor:pointer;
}
<<<<<<< HEAD
<<<<<<< HEAD


h1 
=======

>>>>>>> gh-pages

{
=======
.completedData li:hover{
    cursor:pointer;


}

h1 {
>>>>>>> gh-pages

    text-align:center;
    font-size: 36px;
    font-weight:bold;
    line-height:46px;

}

h3
{
    padding: 5px 5px 5px 0px;
    font-size: 18px;
    font-weight:bold;
    line-height:18px;
}



header

{

    margin-bottom:46px;

}


#logo

{

    background:url(../img/logo.gif) no-repeat;
    float: left;
	width: 76px;
	height:79px;
	margin-bottom: 28px;
	
	
}


.container

{

	width:960px;
	margin: 0 auto;

}

<<<<<<< HEAD
<<<<<<< HEAD
.form-sheet

{
    margin-bottom:20px;
  
}

.form-control

{
    width:98%;
=======
.form-sheet{
    margin-bottom:48px;
  
}

=======
.form-sheet{
    margin-bottom:48px;
  
}

>>>>>>> gh-pages
.inputList{
    width:93%;
    display:block;
    float:left;
<<<<<<< HEAD
>>>>>>> gh-pages
=======
>>>>>>> gh-pages
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
<<<<<<< HEAD
    padding: 5px 5px 5px 5px;

}

<<<<<<< HEAD
section

{
=======
.btnAdd{

display:block;
float:right;

    
  
display: block;
width: 4%;
color: #fff;

background: #444444;;
border-radius: 3px;
padding: 10px 10px 10px 10px;
font-weight: 500;
border: none;
=======
    padding: 10px 10px 10px 10px;
    margin-bottom:10px;
>>>>>>> gh-pages

}

.btnAdd{

display:block;
float:right;
width: 4%;
color: #fff;
background: #444444;;
border-radius: 3px;
padding: 10px 10px 10px 10px;
font-size:15px;
font-weight: 500;
border: none;

}

.btnClear {
    

color: #fff;
background: #444444;;
border-radius: 3px;
padding: 3px 3px 3px 3px;
font-size:8px;
font-weight: bold;
border-style:none;
margin-left:50px;

    

}


section{
>>>>>>> gh-pages
    background-color:#ffffff;
    box-shadow: 1px 1px 5px #888888;
    padding: 5px 5px 5px 5px ;
    border-radius:4px;

}

<<<<<<< HEAD
.completedItem
{
=======

.check{
<<<<<<< HEAD
>>>>>>> gh-pages
=======
>>>>>>> gh-pages
 
    font-size: 11px;
    line-height: 11px;
    color: #999;
    text-decoration:line-through;

}

<<<<<<< HEAD
<<<<<<< HEAD
.listItem
{
    font-size: 14px;
    line-height: 14px;
    /*color:#000000;*/
    color: #999;
    
}
=======
=======
>>>>>>> gh-pages
.createData li
{
font-size: 15px;
line-height: 18px;

    
}
.trash{
    
   
   
<<<<<<< HEAD
    background:url(../img/trash.png) no-repeat;
=======
    
>>>>>>> gh-pages
    width:16px;
    height:16px;
    border:0;
    
    
    

}

<<<<<<< HEAD
>>>>>>> gh-pages
=======
>>>>>>> gh-pages
